body {
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#gameCanvas {
    background-color: #000;
    border: 4px solid #ffffff;
    box-shadow: 0 0 20px rgba(198, 4, 191, 0);
    display: block;
}

main {
    max-width: 600px;
    text-align: center;
}

h2, h3 {
    color: #71e7c2;
}